@use 'variable' as *;
@use 'mixins' as *;

//general

li {
  list-style: none;
}
input {
  border: none;
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-family: 'Roboto', sans-serif;
}

i {
  cursor: pointer;
  color: $black;
}

button {
  border: none;
  background-color: transparent;
  /* remove default behavior */
  -webkit-appearance: none;
}
img {
  max-width: 100%;
  height: auto;
}
